build/
/target/
.idea/
*.iml
client/sdk/
main
main.exe
petstore.swagger.yaml
.vscode/settings.json
vendor
.vendor-new/

# sonarqube stuff
coverage.out
gometalinter-report.out
report.json

# artifacts / compiled stuff
artifacts
main
*.zip

src/docs
.env
pact.log

swagger-private.json
swagger-private.yaml
swagger-public.json
swagger-public.yaml
swagger.json
swagger.yaml